# coding: utf-8

"""
    Thoth user API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from thamos.swagger_client.api_client import ApiClient


class EnvironmentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_runtime_environment(self, runtime_environment_name, **kwargs):  # noqa: E501
        """Retrieve runtime environment information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_runtime_environment(runtime_environment_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str runtime_environment_name: Runtime environment name to be retrieved. (required)
        :param str analysis_id: Specify analysis id for which results should be retrieved. If omitted, the latest will be used. 
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_runtime_environment_with_http_info(runtime_environment_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_runtime_environment_with_http_info(runtime_environment_name, **kwargs)  # noqa: E501
            return data

    def get_runtime_environment_with_http_info(self, runtime_environment_name, **kwargs):  # noqa: E501
        """Retrieve runtime environment information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_runtime_environment_with_http_info(runtime_environment_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str runtime_environment_name: Runtime environment name to be retrieved. (required)
        :param str analysis_id: Specify analysis id for which results should be retrieved. If omitted, the latest will be used. 
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['runtime_environment_name', 'analysis_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_runtime_environment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'runtime_environment_name' is set
        if ('runtime_environment_name' not in params or
                params['runtime_environment_name'] is None):
            raise ValueError("Missing the required parameter `runtime_environment_name` when calling `get_runtime_environment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runtime_environment_name' in params:
            path_params['runtime_environment_name'] = params['runtime_environment_name']  # noqa: E501

        query_params = []
        if 'analysis_id' in params:
            query_params.append(('analysis_id', params['analysis_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/runtime-environment/{runtime_environment_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='dict(str, ERRORUNKNOWN)',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_runtime_environment_analyses(self, runtime_environment_name, **kwargs):  # noqa: E501
        """List analyses for the given runtime environment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_runtime_environment_analyses(runtime_environment_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str runtime_environment_name: Runtime environment name for which analyses should be retrieved.  (required)
        :param int page: Page offset in pagination.
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_runtime_environment_analyses_with_http_info(runtime_environment_name, **kwargs)  # noqa: E501
        else:
            (data) = self.list_runtime_environment_analyses_with_http_info(runtime_environment_name, **kwargs)  # noqa: E501
            return data

    def list_runtime_environment_analyses_with_http_info(self, runtime_environment_name, **kwargs):  # noqa: E501
        """List analyses for the given runtime environment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_runtime_environment_analyses_with_http_info(runtime_environment_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str runtime_environment_name: Runtime environment name for which analyses should be retrieved.  (required)
        :param int page: Page offset in pagination.
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['runtime_environment_name', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_runtime_environment_analyses" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'runtime_environment_name' is set
        if ('runtime_environment_name' not in params or
                params['runtime_environment_name'] is None):
            raise ValueError("Missing the required parameter `runtime_environment_name` when calling `list_runtime_environment_analyses`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runtime_environment_name' in params:
            path_params['runtime_environment_name'] = params['runtime_environment_name']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/runtime-environment/{runtime_environment_name}/analyses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='dict(str, ERRORUNKNOWN)',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_runtime_environments(self, **kwargs):  # noqa: E501
        """Retrieve a list of runtime environments analyzed.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_runtime_environments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: Page offset in pagination.
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_runtime_environments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_runtime_environments_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_runtime_environments_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of runtime environments analyzed.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_runtime_environments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: Page offset in pagination.
        :return: dict(str, ERRORUNKNOWN)
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_runtime_environments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/runtime-environment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='dict(str, ERRORUNKNOWN)',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
