[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=14.05.14"
six = ">=1.10"
python-dateutil = ">=2.5.3"
"urllib3" = ">=1.15.1"
daiquiri = "*"
click = "*"
distro = "*"
thoth-analyzer = "*"
yaspin = "*"
pyyaml = "*"
requests = "*"
termcolor = "*"
invectio = "*"
thoth-python = ">=0.9.0"
thoth-common = "*"
rich = "*"
micropipenv = "*"
jsonschema = "*"

[dev-packages]
toml = "*"
pytest-timeout = "*"
pytest-cov = "*"
pytest = "*"

[requires]
python_version = "3.8"
