certifi>=14.05.14
click
daiquiri
distro
invectio
jsonschema
micropipenv
python-dateutil>=2.5.3
pyyaml
requests
rich
rich-click
six>=1.10
termcolor
thoth-analyzer
thoth-common
thoth-python>=0.9.0
urllib3>=1.15.1
virtualenv>=20.0.3
yaspin
